src/main/resources/META-INF/mapping/xsd/catifyExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    *******************************************************
    Copyright (C) 2013 catify <info@catify.com>
    *******************************************************

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.catify.com/processengine/core/processdefinition"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:bpmn="http://www.omg.org/spec/BPMN/20100524/MODEL" targetNamespace="http://www.catify.com/processengine/core/processdefinition">

	<xsd:import namespace="http://www.omg.org/spec/BPMN/20100524/MODEL" schemaLocation="BPMN20.xsd"/>
	
	<xsd:group id="catifyExtensions" name="catifyExtensions">
		<xsd:sequence>
			<xsd:element name="messageIntegration" type="tMessageIntegration" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="version" type="tVersion" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="nOfM" type="tNOfM" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:element name="messageIntegration" type="tMessageIntegration"/>
	<xsd:complexType name="tMessageIntegration">
		<xsd:complexContent>
			<xsd:extension base="bpmn:tRootElement">
				<xsd:sequence>
					<xsd:element ref="metaData" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="prefix" type="xsd:string" use="required"/>
				<xsd:attribute name="integrationstring" type="xsd:string" use="required"/>
				<xsd:attribute name="direction" type="tMessageIntegrationDirection" default="implicit"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="nOfM" type="tNOfM"/>
	<xsd:complexType name="tNOfM">
		<xsd:attribute name="count" type="xsd:int" use="required"/>
	</xsd:complexType>
	
	<xsd:element name="metaData" type="tMetaData"/>
	<xsd:complexType name="tMetaData">
		<xsd:attribute name="metaDataKey" type="xsd:string" use="required"/>
		<xsd:attribute name="metaDataXpath" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:element name="version" type="tVersion"/>
	<xsd:complexType name="tVersion">
		<xsd:attribute name="version" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="tMessageIntegrationDirection">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="implicit"/>
			<xsd:enumeration value="in"/>
			<xsd:enumeration value="out"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
